@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* start default setting */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.txtCenter {
    text-align: center;
}

.txtEng {
    font-style: italic;
}

#headerLogo {
    width: 200px;
}

/* Start Footer */
footer {
    padding: 20px;
    color: white;
    background-color: #182c8c;
    text-align: center;
    font-weight: bold;
}
/* End Footer */